{% extends 'base/base.html.twig' %}

{% block title %} NailStudio | mention Légales {% endblock %}

{% block body %}
    <div class="container-fluid">
        <p>page mentionLegales</p>
    </div>
{% endblock %}