{% extends 'base/base.html.twig' %}

{% block title %} NailStudio | Accueil {% endblock %}

{% block body %}
 <div class="container">
     <div id="monProfil">
        <a id="txtMonProfil">Mon Profil :</a>
     </div>
     <br>
     <span id="spanTxtProfil">
        <strong><a id="txtProfil">Bienvenue sur mon site internet ! <br> Je m’appelle Océane, diplômée d’un CAP esthétique et d’une formation d’extension de cils.<br> Tout au long de mon cursus c’est-à-dire 6 ans, j’ai acquis l’expérience nécessaire dans le métier de
        l’esthétique.</a></strong>
     </span>
     <br>
     <br>
     <div id="mesPrestations">
         <a id="txtMesPrestations">Mes Prestations :</a>
     </div>
     <br>
     <span id="spanTxtMesPrestations">
        <strong><a id="txtMesPrestations">- Extension de cils <br>- Pose de gel mains et pieds <br>- épilation sourcils et lèvres <br>- soins visage et anti âges.<br>
            <br> N’hésité pas à consulter la rubrique «Réalisations» pour avoir un aperçu de mes compétences.
            <br> Pour consulter les tarifs merci de vous rendre dans la rubrique « services ».</a></strong>
     </span>
 </div>
{% endblock %}