{% extends 'base/base.html.twig' %}

{% block title %} NailStudio | contact {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="text-center">
        <p id="titreContact">Contact</p>
        </div>
        <div class="container-fluid">

                <a id="champFormulaireContact">votre nom :</a><br>
                <a id="champFormulaireContact">votre prenom :</a><br>
                <a id="champFormulaireContact">votre adresse de messagerie :</a><br>
                <a id="champFormulaireContact">votre numéro de téléphone :</a><br>
                <a id="champFormulaireContact">objet :</a><br>
                <a id="champFormulaireContact">votre message :</p><br>

        </div>
    </div>
{% endblock %}