{% extends 'base/base.html.twig' %}

{% block title %} NailStudio | réservation {% endblock %}

{% block body %}
    <div class="container-fluid">
        <p>page réservation</p>
    </div>
{% endblock %}